.title {
    display: flex;
    justify-content: center;
}

.clearSearch {
    display: flex;
    justify-content: flex-end;
}


.paginator-container {
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}